CONNECT TCP tunneling to support proxies like Squid

**Current Limitation:**

`forward_redirect` reroutes TCP data to a different destination without modification, making it only suitable for redirecting to other honeypots.

**Idea:**

Implement TCP tunneling via the CONNECT method (see section 5.2 of [RFC 2817](https://tools.ietf.org/rfc/rfc2817)) so SSH forwarding can be redirected to a proxy (like Squid).

**Why:**

Some adversaries use forwarding to check if a victim is behind a firewall, proxy further attacks, etc. Being able to proxy these connections allows for more robust analysis, especially when we don't know *a priori* what kind of server the adversary is going to connect to or what response they expect. It will also make suggestions like #164 easier to implement because proxies like Squid already support rate limiting.

**Status:**

I have a working PoC by modifying <50 SLoC of `SSHConnectForwardingChannel` in `cowrie/ssh/forwarding.py`. I have tested it by proxying HTTP(S) requests through Squid.

Great addition! Look forward to your pull request.